<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pynarae_tiktoklandingpages>
            <defaults>
                <auto_jump_seconds>3</auto_jump_seconds>
                <head_jump_timeout_ms>180</head_jump_timeout_ms>
                <passthrough_params>utm_source,utm_medium,utm_campaign,utm_id,utm_term,utm_content,gclid,ttclid,campaign_id,adgroup_id,ad_id</passthrough_params>
                <promo_bar_text>Limited-time offer available now</promo_bar_text>
                <cta_text>Shop on TikTok</cta_text>
                <desktop_message>Opening TikTok product page in your browser…</desktop_message>
                <fail_message>Couldn't open TikTok app. Please tap again.</fail_message>
            </defaults>
        </pynarae_tiktoklandingpages>
    </default>
</config>
