<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Pynarae\TiktokLandingPages\Api\LandingPageRepositoryInterface"
                type="Pynarae\TiktokLandingPages\Model\LandingPageRepository"/>
</config>
