<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Pynarae_TiktokLandingPages::root"
             title="TikTok Landing Pages"
             module="Pynarae_TiktokLandingPages"
             sortOrder="92"
             resource="Pynarae_TiktokLandingPages::pages"/>
        <add id="Pynarae_TiktokLandingPages::pages"
             title="All Pages"
             module="Pynarae_TiktokLandingPages"
             sortOrder="10"
             parent="Pynarae_TiktokLandingPages::root"
             action="pynarae_tiktoklandingpages/page/index"
             resource="Pynarae_TiktokLandingPages::pages"/>
        <add id="Pynarae_TiktokLandingPages::new"
             title="Add New"
             module="Pynarae_TiktokLandingPages"
             sortOrder="20"
             parent="Pynarae_TiktokLandingPages::root"
             action="pynarae_tiktoklandingpages/page/new"
             resource="Pynarae_TiktokLandingPages::pages"/>
        <add id="Pynarae_TiktokLandingPages::visits"
             title="Visit Records"
             module="Pynarae_TiktokLandingPages"
             sortOrder="30"
             parent="Pynarae_TiktokLandingPages::root"
             action="pynarae_tiktoklandingpages/visit/index"
             resource="Pynarae_TiktokLandingPages::visits"/>
    </menu>
</config>
